.Night{
    background: #000;
    color: #fff;
}
.Day{
    
    color: #000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#button{
    width: 100px;
    height: 70px;
    font-size: 30px;
}


